<mat-toolbar style="padding: 0 5%;  width: 100%;">
  <button mat-button color="primary" style=" font-size: 30px; font-weight: 700" (click)="toHome()">FLEXNIT</button>
  <span class="example-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu" color="white"><div mat-card-avatar style="background-image: url('https://cataas.com/cat'); background-size: cover;"></div></button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item (click)="toProfile()"><mat-icon>person</mat-icon>Profile</button>
      <button mat-menu-item (click)="toFavorites()"><mat-icon>favorites</mat-icon>Favorites</button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logOut()"><mat-icon>logout</mat-icon>Logout</button>
    </mat-menu>
</mat-toolbar>
