

    <h1 mat-dialog-title>Sign Up!</h1>

  <div mat-dialog-content>
    <form>
      <mat-form-field style="width: 232px;">
        <input
          matInput
          [(ngModel)]="userData.Username"
          placeholder="Username"
          type="text"
          name="Username"
          required
        >
        </mat-form-field>
        <mat-form-field style="width: 232px;">
        <input
          matInput
          [(ngModel)]="userData.Password"
          type = "password"
          placeholder="Password"
          name="Password"
          required
        >
      </mat-form-field>
      <mat-form-field style="width: 232px;">
        <input
          matInput
          [(ngModel)]="userData.Email"
          type = "email"
          placeholder="Email"
          name="Email"
          required
        >
      </mat-form-field>
      <mat-form-field style="width: 232px;">
        <input
          matInput
          [(ngModel)]="userData.Birthday"
          type = "date"
          placeholder="Birthday"  
          name="Birthday"
        >
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions style="display: flex; justify-content:end;">
      <button
        mat-raised-button
        (click)="registerUser()"
        color="primary"
      >
        Sign Up
      </button>
    </div>
