<app-navbar></app-navbar>
<h1 style="color: #C62828; font-weight: 600; margin-top: 50px; display: flex; justify-content:center; text-align:center; align-items: center;"> <mat-icon style="margin-right: 10px">favorite</mat-icon> Your Favorites</h1>
<div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly; padding: 25px 5%;">

  <mat-card *ngFor="let favorite of favorites;" class="my-card" style="max-width: 300px; margin: 0 10px; margin-bottom: 40px; background-color: rgb(46, 46, 46);">
    
    <img mat-card-image style="margin-bottom: 0;" src={{favorite.ImagePath}} alt={{favorite.Title}} />

    <mat-card-header style="align-items: center; justify-content: space-between; min-height: 80px;">
      <mat-card-title style="font-size: 18px; margin: 8px 0;">{{favorite.Title}} ({{favorite.Year}})</mat-card-title>

        <button mat-icon-button (click)="removeFavorite(favorite._id, favorite.Title)" style="vertical-align: middle; color: #C62828; padding-right: 7px;"><mat-icon style="font-size: 30px;">favorite</mat-icon></button>

    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-subtitle style="margin-left: 16px; padding-top: 16px;">

      
      Directed by: 
      <button
      style="padding: 0 5px;"
      mat-button
      color="link"
      (click)="openDirector(favorite.Director.Name, favorite.Director.Bio, favorite.Director.Birth)"
      >
      <u>{{favorite.Director.Name}}</u>
      </button>
 <br/>

      <button
      mat-stroked-button
      color="white"
      style="border-radius: 50px; margin-left: -3px;"
      (click)="openGenre(favorite.Genre.Name, favorite.Genre.Description)"
      >
      {{favorite.Genre.Name}}
      </button> 
    <br/>


    </mat-card-subtitle>


    <mat-card-actions style="display: flex; margin: auto; align-items: center; justify-content: center;">


      <button
        mat-flat-button
        color="primary"
        style="margin: 0; width: 100%;"
        (click)="openSynopsis(favorite.Title, favorite.Year, favorite.Description)"
      >
        Synopsis
      </button>
    </mat-card-actions>

  </mat-card>
</div>